<%- include('partials/head') %>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="/js/dashboard.js" defer></script>
    <title>Listado de Productos</title>
  </head>
  <body class="container">
    <%- include('partials/header') %>
    <main>
      <div class="dashboard-container">
      <h1>Panel de Control</h1>
      <div class="tabs-options">
        <button class="tab-btn activeSection" data-target="products-section">Productos</button>
        <button class="tab-btn" data-target="users-section">Usuarios</button>
        <button class="tab-btn" data-target="categories-section">Categorías</button>
        <button class="tab-btn" data-target="sales-section">Ventas</button>
      </div>

      <% if (products.length > 0) { %>
        <section id="products-section" class="tab-content activeSection">
            <div class="products-filters">            
              <h2>
                Filtros           
              </h2>
              <form method="GET" action="/admin/dashboard" class="products-form-filters"> 
                <div class="products-filters-inputs">
                  <div>
                    <label >Buscador</label>
                    <input type="text" class="search-bar" name="name" placeholder="Buscar por nombre" value="<%= query.name||''%>">       
                  </div>
                  <div>
                    <label >Categorias</label>
                      <select name="id_category">                      
                        <option value="">Todos</option>
                        <% categoriesData.forEach(c => { %>                    
                          <option value="<%= c.id %>" <%= query.id_category === c.id ? 'selected' : '' %> >
                            <%= c.name %>
                          </option>                    
                        <% }) %>
                      </select>
                    </div>
                  </div>
                  <div class="products-filters-bts">
                    <a href="/admin/dashboard" class="reset-filters-btn">Limpiar</a>                
                    <button class="btn-filter" type="submit">Filtrar</button>
                  </div>
              </form>
            </div>       

            <table class="dashboard-list">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Imagen</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Stock</th>
                  <th>Disponible</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="dashboard-product-items">
                <% products.forEach(product => { %>
                  <tr class="dashboard-product-item">
                    <td><%= product.id%></td>
                    <td class="product-image-container"><img src="/uploads/<%= product.url_image %>" alt="<%= product.name %>"></td>
                    <td><%= product.name%></td>
                    <td>$<%= product.price %></td>
                    <td><%= product.stock %></td>
                    <td><%= product.available %></td>
                    <td >
                      <div class="dashboard-actions-btns">
                        <button class="activateBtn" data-id="<%= product.id %>"><img src="/assets/icons/alta-arrow.svg" alt="alta producto"></button>  
                        <button class="editBtn" data-id="<%= product.id %>"><img src="/assets/icons/edit.svg" alt="editar producto"></button>  
                        <button class="deleteBtn" data-id="<%= product.id %>"><img src="/assets/icons/trash-can.svg" alt="baja producto"></button>  
                        
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>

                <% if (pagination > 1) { %>
                  <div class="pagination">
                    <button <% if (currentPage > 1) { %>
                      <button href="#" class="pagination-btn" data-page="<%= currentPage - 1 %>">Anterior</button>
                    <% } %>
                    <% for (let i = 1; i <= pagination; i++) { %>
                      <button href="#" class="pagination-btn <%= i === currentPage ? 'activePag' : '' %>" data-page="<%= i %>"><%= i %></button>
                    <% } %>
                    <% if (currentPage < pagination) { %>
                      <button href="#" class="pagination-btn" data-page="<%= currentPage + 1 %>">Siguiente</button>
                    <% } %>
                  </div>
                <% } %>     
        </section>    
      <% } else { %>
        <section id="products-section" class="tab-content activeSection">
          <div class="products-filters">            
            <h3>
              Filtros           
            </h3>
            <form method="GET" action="/admin/dashboard" class="products-form-filters"> 
              <div class="products-filters-inputs">
                <div>
                  <label >Buscador</label>
                  <input type="text" class="search-bar" name="name" placeholder="Buscar por nombre" value="<%= query.name||''%>">       
                </div>
                <div>
                  <label >Categorias</label>
                    <select name="id_category">                      
                      <option value="">Todos</option>
                      <% categoriesData.forEach(c => { %>                    
                        <option value="<%= c.id %>" <%= query.id_category === c.id ? 'selected' : '' %> >
                          <%= c.name %>
                        </option>                    
                      <% }) %>
                    </select>
                </div>
              </div>
              <div class="products-filters-bts">
                <a href="/admin/dashboard" class="reset-filters-btn">Limpiar</a>                
                <button class="btn-filter" type="submit">Filtrar</button>
              </div>
            </form>
          </div>

          <table class="dashboard-list">
            <thead>
              <tr>
                  <th>Mensaje</th>                  
                </tr>
              </thead>
              <tbody>              
                  <tr>
                    <td>
                      No hay productos registrados.
                    </td>                    
                  </tr>             
              </tbody>
            </table>  
        </section>  
      <% } %>

      
      <% if (usersData && usersData.length > 0) { %>
        <section id="users-section" class="tab-content">          
          <table class="dashboard-list">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <% if (adminData.role === 'admin') { %>
                  <th>Acciones</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% usersData.forEach(user => { %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.role %></td>
                  <% if (adminData.role === 'admin') { %>
                    <td>
                      <div class="dashboard-actions-btns">
                        <!-- <button class="activateUserBtn" data-id="<%= user.id %>"><img src="/assets/icons/alta-arrow.svg" alt="alta usuario"></button>  
                        <button class="editUserBtn" data-id="<%= user.id %>"><img src="/assets/icons/edit.svg" alt="editar usuario"></button>   -->
                        <button class="deleteUserBtn" data-id="<%= user.id %>"><img src="/assets/icons/trash-can.svg" alt="eliminar usuario"></button>  
                      </div>
                    </td>   
                  <% } %>               
                </tr>
              <% }) %>
            </tbody>
          </table>
        </section>
      <% } else { %>
        <section id="users-section" class="tab-content">
          <table class="dashboard-list">
            <thead>
              <tr>
                  <th>Mensaje</th>                  
                </tr>
              </thead>
              <tbody>              
                  <tr>
                    <td>No hay Usuarios registradas.</td>                    
                  </tr>             
              </tbody>
            </table>   
        </section>
      <% } %>

      <% if (categoriesData && categoriesData.length > 0) { %>
        <section id="categories-section" class="tab-content">        
          <table class="dashboard-list">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <% categoriesData.forEach(category => { %>
                <tr>
                  <td><%= category.id %></td>
                  <td><%= category.name %></td>
                  <td><%= category.description %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </section>
      <% } else { %>  
        <section id="categories-section" class="tab-content">      
         <table class="dashboard-list">
            <thead>
              <tr>
                  <th>Mensaje</th>                  
                </tr>
              </thead>
              <tbody>              
                  <tr>
                    <td>No hay categorias registradas.</td>                    
                  </tr>             
              </tbody>
            </table>     
        </section>     
      <% } %>

      <% if (salesData && salesData.length > 0) { %>
          <section id="sales-section" class="tab-content">
            <button id="sales-download">Descargar Ventas</button>
            <table class="dashboard-list">
              <thead>
                <tr>
                  <th>ID Venta</th>
                  <th>Usuario</th>
                  <th>Fecha</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <% salesData.forEach(sale => { %>
                  <tr>
                    <td><%= sale.id %></td>
                    <td><%= sale.name_client %></td>
                    <td><%= new Date(sale.createdAt).toLocaleDateString() %></td>
                    <td>$<%= sale.amount_total %></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </section>
      <% } else { %>  
          <section id="sales-section" class="tab-content"> 
            <table class="dashboard-list">
            <thead>
              <tr>
                  <th>Mensaje</th>                  
                </tr>
              </thead>
              <tbody>              
                  <tr>
                    <td>No hay ventas registradas.</td>                    
                  </tr>             
              </tbody>
            </table>   
          </section>       
        <% } %>
      

      <div id="deleteModal" class="modal hidden">
        <div class="modal-content">
          <p>¿Eliminar o desactivar el producto?</p>
          <form id="deleteForm" method="POST">
            <input type="hidden" name="id" id="deleteProductId">
            <div class="modal-buttons">
              <button type="button" id="cancelDelete">Cancelar</button>
              <button type="submit">Desactivar producto</button>
              <button type="button" id="confirmDelete">Eliminar producto</button>
            </div>
          </form>
        </div>
      </div>

      <div id="deleteUserModal" class="modal hidden">
        <div class="modal-content">
          <p>¿Eliminar Usuario?</p>
          <form id="deleteUserForm" method="POST">
            <input type="hidden" name="id" id="deleteUserId">
            <div class="modal-buttons">
              <button type="button" id="cancelUserDelete">Cancelar</button>
              <button type="submit" id="confirmUserDelete">Eliminar Usuario</button>
            </div>
          </form>
        </div>
      </div>

      <div id="activateModal" class="modal hidden">
        <div class="modal-content">
          <p>¿Activar este producto?</p>
          <input type="hidden" id="activateProductId">
          <div class="modal-buttons">
            <button type="button" id="cancelActivate">Cancelar</button>
            <button type="button" id="confirmActivate">Activar producto</button>
          </div>
        </div>
      </div>
      </div>
    </main>
    <%- include('partials/footer') %>
    
