<%- include('partials/head') %>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="/js/dashboard.js" defer></script>
    <title>Listado de Productos</title>
  </head>
  <body class="container">
    <%- include('partials/header') %>
    <main>
      <h1>Panel de Control</h1>
      <div class="tabs-options">
        <button class="tab-btn active" data-target="products-section">Productos</button>
        <button class="tab-btn" data-target="users-section">Usuarios</button>
        <button class="tab-btn" data-target="categories-section">Categorías</button>
        <button class="tab-btn" data-target="sales-section">Ventas</button>
      </div>
      <% if (products.length > 0) { %>
        <section id="products-section" class="tab-content activeSection">
          <table class="dashboard-list">
            <thead>
              <tr>
                <th>ID</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Disponible</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody class="dashboard-product-items">
              <% products.forEach(product => { %>
                <tr class="dashboard-product-item">
                  <td><%= product.id%></td>
                  <td class="product-image-container"><img src="/uploads/<%= product.url_image %>" alt="<%= product.name %>"></td>
                  <td><%= product.name%></td>
                  <td>$<%= product.price %></td>
                  <td><%= product.stock %></td>
                  <td><%= product.available %></td>
                  <td >
                    <div class="dashboard-actions-btns">
                      <button class="activateBtn" data-id="<%= product.id %>"><img src="/assets/icons/alta-arrow.svg" alt="alta producto"></button>  
                      <button class="editBtn" data-id="<%= product.id %>"><img src="/assets/icons/edit.svg" alt="editar producto"></button>  
                      <button class="deleteBtn" data-id="<%= product.id %>"><img src="/assets/icons/trash-can.svg" alt="baja producto"></button>  

                    </div>
                  </td>
                </tr>
                  <% }) %>
                </tbody>
            </table> 
        </section>    
      <% } else { %>
        <section id="products-section" class="tab-content activeSection">
          <p>No se encontraron productos.</p>
        </section>  
      <% } %>
      
      <% if (usersData && usersData.length > 0) { %>
        <section id="users-section" class="tab-content">
          <table class="dashboard-list">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
              </tr>
            </thead>
            <tbody>
              <% usersData.forEach(user => { %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.role %></td>                  
                </tr>
              <% }) %>
            </tbody>
          </table>
        </section>
      <% } else { %>
        <section id="users-section" class="tab-content">
          <table class="dashboard-list">
            <thead>
              <tr>
                  <th>Mensaje</th>                  
                </tr>
              </thead>
              <tbody>              
                  <tr>
                    <td>No hay Usuarios registradas.</td>                    
                  </tr>             
              </tbody>
            </table>   
        </section>
      <% } %>

      <% if (categoriesData && categoriesData.length > 0) { %>
        <section id="categories-section" class="tab-content">        
          <table class="dashboard-list">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <% categoriesData.forEach(category => { %>
                <tr>
                  <td><%= category.id %></td>
                  <td><%= category.name %></td>
                  <td><%= category.description %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </section>
      <% } else { %>  
        <section id="categories-section" class="tab-content">      
         <table class="dashboard-list">
            <thead>
              <tr>
                  <th>Mensaje</th>                  
                </tr>
              </thead>
              <tbody>              
                  <tr>
                    <td>No hay categorias registradas.</td>                    
                  </tr>             
              </tbody>
            </table>     
        </section>     
      <% } %>

      <% if (salesData && salesData.length > 0) { %>
        <section id="sales-section" class="tab-content">
          <table class="dashboard-list">
            <thead>
              <tr>
                  <th>ID Venta</th>
                  <th>Usuario</th>
                  <th>Fecha</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
              <% salesData.forEach(sale => { %>
                  <tr>
                    <td><%= sale.id %></td>
                    <td><%= sale.user_name %></td>
                    <td><%= new Date(sale.date).toLocaleDateString() %></td>
                    <td>$<%= sale.total %></td>
                  </tr>
              <% }) %>
              </tbody>
            </table>
          </section>
        <% } else { %>  
          <section id="sales-section" class="tab-content"> 
            <table class="dashboard-list">
            <thead>
              <tr>
                  <th>Mensaje</th>                  
                </tr>
              </thead>
              <tbody>              
                  <tr>
                    <td>No hay ventas registradas.</td>                    
                  </tr>             
              </tbody>
            </table>   
          </section>       
        <% } %>
      

      <div id="deleteModal" class="modal hidden">
        <div class="modal-content">
          <p>¿Eliminar o desactivar el producto?</p>
          <form id="deleteForm" method="POST">
            <input type="hidden" name="id" id="deleteProductId">
            <div class="modal-buttons">
              <button type="button" id="cancelDelete">Cancelar</button>
              <button type="submit">Desactivar producto</button>
              <button type="button" id="confirmDelete">Eliminar producto</button>
            </div>
          </form>
        </div>
      </div>

      <div id="activateModal" class="modal hidden">
        <div class="modal-content">
          <p>¿Activar este producto?</p>
          <input type="hidden" id="activateProductId">
          <div class="modal-buttons">
            <button type="button" id="cancelActivate">Cancelar</button>
            <button type="button" id="confirmActivate">Activar producto</button>
          </div>
        </div>
      </div>

    </main>
    <%- include('partials/footer') %>
    
