<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Listado de Productos</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>Dashboard</h1>
      <% if (products.length > 0) { %>
      <ul class="product-list">
        <% products.forEach(product => { %>
        <li class="product-element">
          <div class="product-info">
            <div class="product-image-container">
              <img src="/uploads/<%= product.url_image %>" alt="<%= product.name %>">
            </div>
            <div>
              <p><strong><%= product.name %></strong></p>
              <p>Precio: $<%= product.price %></p>
              <p>Stock: <%= product.stock %> unidades</p>
            </div>
          </div>
          <div class="actions">
            <button class="activateBtn"><img src="/assets/icons/alta-arrow.svg" alt="alta producto"></button>  
            <button class="editBtn"><img src="/assets/icons/edit.svg" alt="editar producto"></button>  
            <button class="deleteBtn"><img src="/assets/icons/trash-can.svg" alt="baja producto"></button>  
          </div>
        </li>
        <hr />
        <% }) %>
      </ul>
      <% } else { %>
      <p>No se encontraron productos.</p>
      <% } %>
    </main>

    <%- include('partials/footer') %>
    
