<%- include('partials/head') %>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="/js/dashboard.js" defer></script>
    <title>Listado de Productos</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>Dashboard</h1>
      <% if (products.length > 0) { %>
      <ul class="product-list">
        <% products.forEach(product => { %>
        <li class="product-element">
          <div class="product-info">
            <div class="product-image-container">
              <img src="/uploads/<%= product.url_image %>" alt="<%= product.name %>">
            </div>
            <div>
              <p><strong><%= product.name %></strong></p>
              <p>Precio: $<%= product.price %></p>
              <p>Stock: <%= product.stock %> unidades</p>
              <p>Disponible: <%= product.available %></p>
            </div>
          </div>
          <div class="actions">
            <button class="activateBtn" data-id="<%= product.id %>"><img src="/assets/icons/alta-arrow.svg" alt="alta producto"></button>  
            <button class="editBtn" data-id="<%= product.id %>"><img src="/assets/icons/edit.svg" alt="editar producto"></button>  
            <button class="deleteBtn" data-id="<%= product.id %>"><img src="/assets/icons/trash-can.svg" alt="baja producto"></button>  
          </div>
        </li>
        <hr />
        <% }) %>
      </ul>
      <% } else { %>
      <p>No se encontraron productos.</p>
      <% } %>

      <div id="deleteModal" class="modal hidden">
        <div class="modal-content">
          <p>¿Eliminar o desactivar el producto?</p>
          <form id="deleteForm" method="POST">
            <input type="hidden" name="id" id="deleteProductId">
            <div class="modal-buttons">
              <button type="button" id="cancelDelete">Cancelar</button>
              <button type="submit">Desactivar producto</button>
              <button type="button" id="confirmDelete">Eliminar producto</button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
    
