<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Listado de Productos</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>Productos</h1>
      <button onclick="logout()">Logout</button>
      <% if (products.length > 0) { %>
      <ul>
        <% products.forEach(product => { %>
        <li>
          <div>
            <p><strong><%= product.name %></strong></p>
            <p>Precio: $<%= product.price %></p>
            <p>Stock: $<%= product.stock %></p>
          </div>
          <div>
            
          </div>
        </li>
        <hr />
        <% }) %>
      </ul>
      <% } else { %>
      <p>No se encontraron productos.</p>
      <% } %>
    </main>

    <%- include('partials/footer') %>
    
    <script>
      const logout = async() => {
        await fetch("/api/users/logout", { method: "POST" });
        window.location.href = "/admin";
      }
    </script>
  </body>
</html>
